{% extends './admin/home_admin.html' %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Gestión de Usuarios</h1>
    <br>
    <a class="btn btn-outline-success btn-lg" href="{{url_for('admin.add_user')}}" >Añadir Usuario</a>
    <br>
    <!-- Recorremos los usuarios de users -->
        <!-- Creamos una tabla -->
        {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
        <br>
        {% for mensaje in mensajes %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ mensaje }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Creación</th>
              <th scope="col">Última Actualización</th>
              <th scope="col">Admin</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
    {% for usuario in users %}
        <tr>
          <!-- Mostramos los datos de cada usuario -->
          <th scope="row"></th>
          <td>{{usuario.name}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.created_at}}</td>
          <td>{{usuario.updated_at}}</td>
          {% if usuario.admin %}
              <td>Sí</td>
          {% else %}
              <td>No</td>
          {% endif %}
          <td>
            <!-- Creamos un botón para editar el usuario -->
            <button class="btn btn-primary" id="btn-edit{{usuario.id}}" data-bs-toggle="modal" data-bs-target="#modal{{usuario.id}}">Editar </button>
            <!-- Creamos un botón para eliminar el usuario -->
            <a href="{{url_for('admin.delete_user', id=usuario.id)}}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>

        <!-- Creamos un modal para editar el usuario -->
        <div class="modal fade" id="modal{{usuario.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <form action="{{url_for('admin.edit_user', id=usuario.id)}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" value="{{usuario.name}}">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="{{usuario.email}}">
                </div>
                <div class="mb-3">
                  <label for="admin" class="form-label">Administrador</label>
                  <input type="checkbox" class="custom-control-input" id="admin" name = "admin">
                </div>
              </div>
              <div class="modal-footer">
                <!-- Añadimos el CSRF token -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                
              </div>
            </form>
            </div>
          </div>
    {% endfor %}
  </tbody>
</table>
  </div>
{% endblock %}