{% extends './home.html' %}
{% block content %}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Dashboard</h1>
    <div class="card" style="width: 18rem;">
        <img src="{{url_for('static',filename='img/logo.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
</main>
{% endblock %}